<div class='container'>
  <div class='messages'>
    <ng-container *ngFor="let item of messages | async">
      <app-message text={{item.text}} user={{item.name}}></app-message>
    </ng-container>
  </div>
  <div class='bar'>
    <form (submit)="onSubmit($event)" >
      <div class="user">
        <img src="../assets/User.png" alt="Error icon...">
        <input value="guest" [(ngModel)]="globals.currentUser" name="userName">
      </div>
      <div class="message">
        <input [(ngModel)]="currentMessage" name="message">
        <button type="submit">send</button>
      </div>
    </form>
  </div>
</div>
